.headerBox {
  display: flex;
  list-style: none;
  text-decoration: none;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
  height: 70px;
  background: linear-gradient(90deg, #5736a3, #4b2a99, #471ca9);
  box-shadow: 0px 7px 10px rgba(87, 54, 163, 0.5);
}
.headerSection {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  width: 90%;
  padding: 15px;
  align-items: center;
}
.headerLink {
  display: block;
  text-decoration: none;
  color: #ebd8ff;
  font-weight: 700;
  font-size: 25px;
}
.headerLink:hover {
  color: #5cd3a8;
  transition: 0.4s linear;
}
